body{
    margin: 0;
    font-family: Helvetica;
    color: #F7F0F0;
    background-color: #60993E;
}
header{
    background-color: #A1E44D;
    width: 100%;
    position: sticky;


    

    box-sizing: border-box;
    color: #484349;

    display:flex;
    align-items: stretch;
    
}

nav {
   
    margin-left: auto;
    display: flex;
    align-items: stretch;   
              
}

nav a {
    display: flex;           
    align-items: center;     
    padding: 16px;          
    margin: 0;              
    text-decoration: none;
    color: #484349;

}

nav a:hover{
    background-color: #ACDDE7;
}

header h1 {
    margin: 0;
    padding: 16px; 
    
}

textarea{
    width:10%;
    min-width:50px;
    height:10%;
    min-height:50px;
}

#buttons{
    padding: 0 10px;
    margin: 0px;
}
